.main-stats-container {
    flex-direction: row;
}

.main-discussions {
    flex-direction: row-reverse;
}

.main-flowingConversations {
    flex-direction: row;
}

.main-yourusers {
    flex-direction: row-reverse;
}

.main-newsletter {
    flex-direction: row-reverse;
    max-width: none;
}