/* 
1- Posicionamiento
2- Modelo de caja (Box model)
3- Tipografia
4- Visuales
5- Otros
*/

:root {
    /* ## Colors */
    /* ### Primary */
    --Pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);
    /* ### Neutral */
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);
    /* fonts */
    /* 
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

main {
    background-image: url('./images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 800% 20%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 20px;
}

header .header--logo img {
    width: 100px;
    height: 15px;
}

header .header--button a {
    display: inline-block;
    font-weight: 700;
    padding: 3px 15px;
    border: 1px solid var(--LightPink);
    border-radius: 20px;
    text-decoration: none;
    color: var(--LightPink);
}

.main-textcommunity-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.main-textcommunity-container--text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.main-textcommunity-container--text h1 {
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--VeryDarkCyan);
}

.main-textcommunity-container--text p {
    max-width: 500px;
    margin: 30px auto;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: var(--VeryDarkCyan);
}

.main-textcommunity-container--text .main-button--ca {
    width: 200px;
    height: 40px;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: var(--Pink);
    color: #fff;
    outline: none;
}

.main-textcommunity-container--img {
    display: flex;
    width: 90%;
    margin: 100px auto;
}

.main-textcommunity-container--img img {
    width: 90%;
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
}

.main-stats-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 70px;
}

.stats--communities,
.stats--messages {
    width: 90%;
    margin: 0 auto;
}

.stats--communities img,
.stats--messages img {
    width: 25px;
    height: 25px;
    margin-right: 110px;
    text-align: center;
}

.stats--communities h2,
.stats--messages h2 {
    width: 150px;
    margin: 0 auto;
    font-size: 5.0rem;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: var(--VeryDarkCyan);
}

.stats--communities p,
.stats--messages p {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(194, 194, 194);
    text-align: center;
}

.stats--messages p {
    width: 60px;
    margin: 0 auto;
}

.main-discussions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.main-discussions .main-discussions--img {
    width: 80%;
    margin: 0 auto;
}

.main-discussions--img img {
    display: flex;
    width: 90%;
    max-width: 800px;
    max-height: 590px;
    margin: 0 auto;
}

.main-discussions--text {
    width: 80%;
    margin: 70px auto;
    text-align: center;
}

.main-discussions--text h2 {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--VeryDarkCyan);
}

.main-discussions--text p {
    max-width: 500px;
    margin: 30px auto;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: var(--VeryDarkCyan);
}

.main-flowingConversations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.main-flowingConversations .main-flowingConversations--img {
    width: 80%;
    margin: 0 auto;
}

.main-flowingConversations--img img {
    display: flex;
    width: 90%;
    max-width: 800px;
    max-height: 590px;
    margin: 0 auto;
}

.main-flowingConversations .main-flowingConversations--text {
    width: 80%;
    margin: 70px auto;
    text-align: center;
}

.main-flowingConversations--text h2 {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--VeryDarkCyan);
}

.main-flowingConversations--text p {
    max-width: 500px;
    margin: 30px auto;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: var(--VeryDarkCyan);
}

.main-yourusers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.main-yourusers .main-yourusers--img {
    width: 80%;
    margin: 0 auto;
}

.main-yourusers--img img {
    display: flex;
    width: 90%;
    max-width: 800px;
    max-height: 590px;
    margin: 0 auto;
}

.main-yourusers .main-yourusers--text {
    width: 80%;
    margin: 70px auto;
    text-align: center;
}

.main-yourusers--text h2 {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--VeryDarkCyan);
}

.main-yourusers--text p {
    max-width: 500px;
    margin: 30px auto;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: var(--VeryDarkCyan);
}

.main-ca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.main-ca .main-ca--text {
    width: 80%;
    margin: 70px auto;
    text-align: center;
}

.main-ca--text h2 {
    margin-bottom: 10px;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--VeryDarkCyan);
}

.main-ca--button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.main-ca--button button {
    width: 200px;
    height: 40px;
    padding: 10px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    background-color: var(--Pink);
    color: #fff;
    outline: none;
}

.main-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

.main-newsletter--text {
    width: 80%;
    margin: 70px auto;
    margin-bottom: 30px;
}

.main-newsletter--text h3 {
    margin-bottom: 10px;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: #fff;
}

.main-newsletter--text p {
    max-width: 500px;
    margin: 10px auto;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: #fff;
}

.main-newsletter--subs {
    width: 100%;
}

.main-newsletter--subs form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.main-newsletter--subs form .main-newsletter--inputtext {
    width: 100%;
    height: 35px;
    max-width: 500px;
    border-radius: 8px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.main-newsletter--subs form button {
    width: 150px;
    height: 40px;
    padding: 10px 40px;
    align-self: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    background-color: var(--Pink);
    color: #fff;
    outline: none;
}

.main-huddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main-huddle--text {
    width: 80%;
    margin: 20px auto;
    margin-bottom: 30px;
}

.main-huddle--text h2 {
    margin-bottom: 10px;
    font-size: 2.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 2.8rem;
    color: #fff;
}

.main-huddle--text p {
    max-width: 500px;
    margin: 10px auto;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 600;
    color: #fff;
}

.main-huddle--info {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #fff;
    font-size: 1.3rem;
    line-height: 2.0rem;
    font-weight: 400;
    color: #fff;
}

.main-huddle--info p:nth-child(1) {
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-huddle--info p:nth-child(2) {
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-huddle--info p:nth-child(1) span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./images/icon-phone.svg');
    background-repeat: no-repeat;
}

.main-huddle--info p:nth-child(2) span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./images/icon-email.svg');
    background-repeat: no-repeat;
}

.main-huddle--redes {
    display: flex;
}

.main-huddle--redes span:nth-child(1) {
    display: inline-block;
    background-image: url('./images/');
}